<ion-card>
  <ion-img src="assets/trianguloEscaleno.webp" class="figura-imagen"  alt="Triángulo"></ion-img>
  <ion-card-header>
    <ion-card-title>Triángulo Escaleno</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>El triángulo escaleno es un triángulo cuyos tres lados tienen longitudes diferentes.</p>

    <ion-item>
      <ion-label position="floating">Lado A</ion-label>
      <ion-input type="number" [(ngModel)]="ladoA"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Lado B</ion-label>
      <ion-input type="number" [(ngModel)]="ladoB"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Lado C</ion-label>
      <ion-input type="number" [(ngModel)]="ladoC"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="calcularPerimetro()" class="ion-margin-top">
      Calcular Perímetro
    </ion-button>

    <div *ngIf="perimetro !== null" class="ion-margin-top">
      <p>El perímetro del triángulo es: {{perimetro | number:'1.2-2'}} unidades</p>
    </div>
  </ion-card-content>
</ion-card>
