<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Figuras Geométricas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-select label="Seleccione una figura" (ionChange)="figuraSeleccionada = $event.detail.value">
      <ion-select-option value="circulo">Círculo</ion-select-option>
      <ion-select-option value="triangulo">Triángulo</ion-select-option>
    </ion-select>

    <app-circulo *ngIf="figuraSeleccionada === 'circulo'"></app-circulo>
    <app-triangulo *ngIf="figuraSeleccionada === 'triangulo'"></app-triangulo>
  </div>
</ion-content>
